Source: nginx-wimbly
Maintainer: Daniel Rubin <daniel@rubin.za.net>
Section: misc
Priority: optional
Standards-Version:
Build-Depends: libpcre3-dev, libssl-dev, debhelper (>= 9)

Package: nginx-wimbly
Architecture: any
Description: wimbly nginx build
